<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wysyłanie wartości RSS mailem</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>
            <h1>Wprowadź e-mail i link RSS, a następnie zatwierdź</h1>
            <form action = "#" method = "post">
                <label for="rss">URL RSS:</label>
                <input type = "url" name = "rss_url" placeholder="http://www.xml.com/2002/12/18/examples/rss091.xml.txt" /> <br>
                <input type = "submit" name = "Save" value = "Save" />
                <input type = "submit" name = "Preview" value = "Preview" />
             </form>
        </div>
        <div id="table">
            <h2>Przesłane RSS</h2>
            <table>
                <tr>
                    <th id="rss_url">RSS URL</th>
                </tr>
                    {% for x in rss_tab %}
                        <tr>
                            <td>{{x}}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        <div>
            <div id="output">
                {% if preview %}
                <h2>Treść ostatnio przesłanego RSS</h2>
                    {{preview}}
                {% endif %}

                {% with messages = get_flashed_messages()%}
                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </body>
</html>